<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

</head>
<body style="width: 70%;
height: 100%;
background-color: #2897ff;
color: #0071bc!important;">
<center>
    <div style="width: 90%;
    height: 100%;
    background-color:#eeeeee">
        <div style="width: 100%;
        margin-bottom: 20px;
        display: inline-block;
        background-color: white!important">

        </div>

        <div style="padding-left: 30px;
        text-align: left;
        color: #0071bc!important;">
            <h5>Bievenido a Heystyles</h5>
            <p style="color: #0071bc!important;">Tu Usuario para ingresar es: <b><span th:text="${email}"></span></b></p>
            <p style="color: #0071bc!important;">Tu Password Inicial para ingresar es: <b><span th:text="${password}"></span></b></p>
        </div>
    </div>
</center>
</body>
</html>
